/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: "iconfont"; /* Project id 2701383 */
  src: url("//at.alicdn.com/t/c/font_2701383_utwwd057gsq.woff2?t=1659665415185") format("woff2"),
    url("//at.alicdn.com/t/c/font_2701383_utwwd057gsq.woff?t=1659665415185") format("woff"),
    url("//at.alicdn.com/t/c/font_2701383_utwwd057gsq.ttf?t=1659665415185") format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhiyou-fenzupaixu:before {
  content: "\e613";
}

.icon-youjiantou:before {
  content: "\e62b";
}

.icon-wenjianjia:before {
  content: "\ec17";
}

.icon-yanjingguanbi:before {
  content: "\e60a";
}

.icon-jiahao:before {
  content: "\e612";
}

.icon-zuoceshouqiyoucezhankai:before {
  content: "\e60e";
  font-size: 14.5px;
}

.icon-youceshouqizuocezhankai:before {
  content: "\ec19";
  font-size: 14.5px;
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-gongzuotai4:before {
  content: "\e63b";
}

.icon-gongzuotai3:before {
  content: "\e64a";
}

.icon-shezhi2:before {
  content: "\e70f";
}

.icon-gongzuotai1:before {
  content: "\e606";
}

.icon-gongzuotai2:before {
  content: "\e611";
}

.icon-sliders:before {
  content: "\ebd2";
}

.icon-liebiao:before {
  content: "\e609";
}

.icon-xiasanjiaoxing:before {
  content: "\e642";
}

.icon-gongzuotai:before {
  content: "\e608";
}

.icon-lieshicunchu:before {
  content: "\e9e1";
}

.icon-rili:before {
  content: "\e600";
}

.icon-shuangjiantou-you:before {
  content: "\e6c4";
}

.icon-fullscreen:before {
  content: "\e6a0";
}

.icon-zhoubao:before {
  content: "\e63a";
}

.icon-xiugaizhuangtai:before {
  content: "\e9fa";
}

.icon-fengxian:before {
  content: "\e770";
}

.icon-caidan:before {
  content: "\e628";
}

.icon-bianji:before {
  content: "\e623";
}

.icon-copy:before {
  content: "\e7bc";
}

.icon-wendang:before {
  content: "\e69c";
}

.icon-shezhi1:before {
  content: "\e666";
}

.icon-caidanguanli:before {
  content: "\e658";
}

.icon-zhiding:before {
  content: "\e6b6";
}

.icon-huanrao:before {
  content: "\e621";
}

.icon-tubiao:before {
  content: "\e730";
}

.icon-tubiaoxiajiangqushi:before {
  content: "\e610";
}

.icon-tubiao1:before {
  content: "\e60c";
}

.icon-clear:before {
  content: "\31";
}

.icon-fanqielogo3x:before {
  content: "\e67a";
}

.icon-wendang3x1:before {
  content: "\e67d";
}

.icon-shezhi:before {
  content: "\e64d";
}

.icon-chanpin3x:before {
  content: "\e601";
}

.icon-kanban3x:before {
  content: "\e602";
}

.icon-tuichu:before {
  content: "\e603";
}

.icon-tuandui3x:before {
  content: "\e604";
}

.icon-wendang3x:before {
  content: "\e605";
}

.icon-diedai3x:before {
  content: "\e607";
}

.icon-fanqielogo3x-copy:before {
  content: "\e731";
}

/* 向上的箭头 */
.icon-arrowup:before {
  content: "\e65d";
}
/* 向下的箭头 */
.icon-arrowdown:before {
  content: "\e65e";
}
/* menu 向右显示 */
.icon-menu-show:before {
  content: "\e67b";
}
/* 排序 */
.icon-sort:before {
  content: "\e664";
}
/* 房子 */
.icon-house:before {
  content: "\e615";
}

.icon-yanjing_open:before {
  content: "\ec18";

  /* font-size: 18px; */
}

.icon-yanjing_close:before {
  content: "\e60f";
  /* font-size: 18px; */
}
.icon-document:before {
  content: "\e622";
  color: #1f9f85;
  font-size: 12px;
  font-weight: 600;
  opacity: 0.6;
}

.icon-document-artical:before {
  content: "\e629";
  color: #52a8f7;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.6;
}

.icon-guanbi:before {
  content: "\e60d";
  color: #cecfd2;
  font-size: 14px;
}

.icon-shouzhi:before {
  content: "\e62f";
  color: #3370ff;
  font-size: 14px;
}

.icon-sousuo:before {
  content: "\e616";
  color: #999;
  font-size: 14px;
}
/* 九个点 */
.icon-nine-point:before {
  content: "\e62a";
}

/* 文件夹 */
.icon-doc:before {
  content: "\e618";
}

/* 压缩包 */
.icon-rar:before {
  content: "\e64f";
}

/* rp */
.icon-rp:before {
  content: "\e643";
}

/* 未知文件 */
.icon-unknow:before {
  content: "\e677";
}

/* html */
.icon-html:before {
  content: "\e619";
  color: #1d9f85;
}
/* 链接 */
.icon-link:before {
  content: "\e717";
  color: #38a0de;
}

/* 文件 */
.icon-file:before {
  content: "\e637";
}
/* 需求文档--新增文档-文档合集中用到 */

.icon-doc-tree:before {
  content: "\ec17";
}

/* 计划详情-新增文档用到 */

.icon-doc-add:before {
  content: "\e624";
  color: #009eff;
}

/* UI设计规范  */

.icon-doc-ui:before {
  content: "\e617";
  color: #b7d264;
}
